/* formulario.css */

/* Estilos para el formulario de subida de imagen */
.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-select, .form-control, .form-check-input {
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


/* Estilos para las tarjetas de imagen */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}
